<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Music</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>

    </header>
    <main>
        <h1> MUSIC // </h1>
        <nav>
            <h4>Direct Links</h4>
             <ul>
                 <li><a href="#album">Album</a></li>
                 <li><a href="#organic">Video: Organic Love</a></li>
                 <li><a href="#street">Video: Street Light</a></li>
             </ul>
        </nav>
            <section id="album">
            <h2>ALBUM <br> TWIST IN MY REALITY</h2>
            <img src="/img/emilia-play-list.png" alt="foto emilia-playlist" width="640">
            <ol>
                <li><i class="fas fa-play"></i> Organic Love | 02:40></li>
                <li><i class="fas fa-play"></i> Twist In My Reality | 02:10</li>
                <li><i class="fas fa-play"></i> Street Light | 03:28</li>
                <li><i class="fas fa-play"></i> Love Don't Live Here Anymore (Cover) | 03:49</li>
            </ol>
            <a href="#">Go top</a>
            </section>
            <section id="organic">
                <h2> video <br> organic love</h2>
                <iframe src="https://vimeo.com/135166028" width="640" height="360" allow="autoplay"></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
            </section>
            <section id="street">
                <h2> video <br> street light</h2>
                <iframe src="https://vimeo.com/134861419" width="640" height="360" allow="autoplay"></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
        </section>
    </main>
</body>
</html>