<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Music</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>

    </header>
    <main>
        <img src="/img/emilia-music-top.jpg" alt="emilia-music-top">
        <h1> MUSIC // </h1>
        <nav>
            <h4>Direct Links</h4>
             <ul>
                 <li><a href="#ALBUM">Album</a></li>
                 <li><a href="#ORGANIC LOVE">Video: Organic Love</a></li>
                 <li><a href="#STREET LIGHT">Video: Street Light</a></li>
             </ul>
        </nav>
        <section>
            <h2>ALBUM <br> TWIST IN MY REALITY</h2>
            <img src="/img/emilia-play-list.png" alt="foto emilia-playlist">
           <img src="" alt="">
           <h4>01. ▶ Organic Love | 02:40</h4>
           <h4>02. ▶ Twist In My Reality | 02:10</h4>
           <h4>03. ▶ Street Light | 03:28</h4>
           <h4>04. ▶ Love Don't Live Here Anymore (Cover) | 03:49</h4>
        </section>
        <section>
            <h2>VIDEO</h2>
            <h2>ORGANIC LOVE</h2>
            <video src="https://vimeo.com/135166028">organic love</video>
           <h4>Directed by VINCE MALC & EMILIA COLE</h4>
           <h4>Edited and Filmed by NICOLAS TROY</h4>
           <h4>Produced by NIKI HEART,</h4>
           <h4>Wix Films LTD.</h4>
        </section>
        <section>
            <h2>VIDEO</h2>
            <h2>STREET LIGHT</h2>
            <iframe src="https://vimeo.com/134861419" frameborder="0"></iframe>
           <h4>Directed by VINCE MALC & EMILIA COLE</h4>
           <h4>Edited and Filmed by NICOLAS TROY</h4>
           <h4>Produced by NIKI HEART,</h4>
           <h4>Wix Films LTD.</h4>
        </section>
    

    </main>
</body>
</html>