<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body class="about">
    <%- include('partials/header-horizontal') %>
    <main>
        <h1>about <br> emilia //</h1>
        <section>
            <article>
                <h4>
                    "Seattle-based pop star makes her indie debut with a hauntingly beautiful album"
                </h4>
                <p>- John Tirckle, Music Today Post
                </p>
            </article>
        </section>
        <section>
            <article>
                <h4>
                    "Emilia Cole is one of the scene's breakout stars"
                </h4>
                <p>- John Tirckle, Music Today Post
                </p>
            </article>
        </section>
    </main>
</body>
</html>