<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body class="music">
    <%- include('partials/header-music') %>
    <main>
        <h1> MUSIC // </h1>
        <nav>
            <h4>Direct links</h4>
             <ul>
                 <li><a href="#album">Album</a></li>
                 <li><a href="#organic">Video: Organic Love</a></li>
                 <li><a href="#street">Video: Street Light</a></li>
             </ul>
        </nav>
            <section id="album">
            <h2>ALBUM <br> TWIST IN MY REALITY</h2>
            <img src="/img/emilia-play-list.png" alt="foto emilia-playlist" width="640">
            <ol>
                <li><i class="fas fa-play"></i> Organic Love | 02:40></li>
                <li><i class="fas fa-play"></i> Twist In My Reality | 02:10</li>
                <li><i class="fas fa-play"></i> Street Light | 03:28</li>
                <li><i class="fas fa-play"></i> Love Don't Live Here Anymore (Cover) | 03:49</li>
            </ol>
            <a href="#">Go top</a>
            </section>
            <section id="organic">
                <h2> video <br> organic love</h2>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go top</a>
            </section>
            <section id="street">
                <h2> video <br> street light</h2>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go top</a>
            </section>
    </main>
</body>
</html>